{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Status Time!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Acme|Muli" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>
  <body class="body">
    <div class='progress' id="progress_div">
      <div class='bar' id='bar1'></div>
      <div class='percent' id='percent1'></div>
    </div>
    <h1 align="center">Hello, Apa Kabar?</h1>
    <br>
    <h3 align="center"><a href="{% url 'user' %}">See my profile</a></h3><br>
    <h3 align="center"><a href="{% url 'subscribe' %}">Subscribe to my daily mail</a></h3>
    <section class="form-section">
      <form class="form-status" action="/result/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form }}
        </div>
        <div class="counter-group">
            <div class="counter-div">
                <p id="counter"></p>
            </div>
            <div class="submit-button">
                <input id="submit" class="submit" type="submit" value="Post">
            </div>
        </div>
      </form>
    </section>
    <section class="result">
      <h3 align="center">Status</h3>
      {% for field in result %}
        <div class="result-box">
            <p class="date" style="text-opacity: 60%;"><i class="fas fa-calendar-alt"> </i>{{ field.posted }}</p>
            <p class="result-text"><i class="fas fa-comment-alt"></i>{{ field.statusMessage }}</p>
        </div>
      {% endfor %}
    </section>
  </body>
</html>
