{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subscribe Time!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sub.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Acme|Muli" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/sub.js' %}" type="text/javascript" rel="script"></script>
  </head>

  <body>
    <h1 align="center">Fill to Subscribe</h1>
    <section class="form-container">
        <div class="errorlist"><p></p></div>
        <form id="form" class="form" method="POST">
            {% csrf_token %}
            {% for form in form %}
                <div class="form-group">
                    {{ form.label_tag }}
                    {{ form }}
                </div>
            {% endfor %}
            <div class="form-btn">
                <button id="submit-btn" type="submit" value="Submit" class="btn" disabled>Submit</button>
            </div>
        </form>
    </section>
  </body>
</html>
