.h3 {
  font-family: 'Acme', sans-serif;
  font-weight: 600;
  color: white;
  align: center;
}

body {
  background-color: #FCFCFC;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    width: 30rem;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: whitesmoke;
    opacity: 0.9;
}

.form-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.success {
    color: greenyellow;
    font-size: 1.25rem;
}

.fail {
    color: red;
    font-size: 1.25rem;
}

.error:focus {
    border: 2px solid red;
    outline: none !important;
    box-shadow: 0 0 10px;
}

@media screen and (max-width: 768px) {
    .form {
        width: 100%;
    }

    .form-container {
        padding: 0 1.5rem;
    }
}
